.koha-darkmode {
  background-color: #333333 !important;
  color: #e0e0e0 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.koha-darkmode body {
  background-color: #333333 !important;
  color: #e0e0e0 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.koha-darkmode #searchresults {
	background-color: #333333 !important;
}
#search-facets, .pagination>li>a, .pagination>li>span {
	background-color: #333333 !important;
}
.koha-darkmode a {
	color: #FFF !important; 
	transition: color 0.3s ease; 
}
.koha-darkmode table { 
	background-color: #333 !important;
	color: #fff !important;
}
.koha-darkmode tbody { 
	background-color: #333 !important;
	color: #fff !important;
}

.koha-darkmode th, .koha-darkmode td {
	border-color: #333 !important;
	background-color: #333 !important;
	color: #fff !important;
}
.koha-darkmode a.btn.btn-default.btn-xs {background-color: #333 !important;}
.koha-darkmode .tab-content {
	background-color: #333333 !important;
	color: #fff !important;
	border: 2px solid #fff;
}
.koha-darkmode span.tagnum {
	color:#fff !important
}
.koha-darkmode .toolbar-tabs-container .nav-tabs{
	background-color: #333333 !important;
	color: #fff !important;
	border: 1px solid #fff;
}
.koha-darkmode .toolbar-tabs-container .nav-tabs li {
	background-color: #333333 !important;
	color: #fff !important;
}
.koha-darkmode ul.tag_anchors_list {
	background-color: #333333 !important;
	color: #fff !important;
}
.koha-darkmode ul.nav.nav-tabs li a {
	color:#fff !important
}
.koha-darkmode div#login, .koha-darkmode div#toolbar {
	background: #333 !important
}
.koha-darkmode fieldset:not(.bg-danger,.bg-warning,.bg-info,.bg-success,.bg-primary,.action) {
	background-color: #333333 !important;
	color: #fff !important;
}
.koha-darkmode h1, .koha-darkmode h2, .koha-darkmode h3, .koha-darkmode h4, .koha-darkmode h5, .koha-darkmode h6 {
	color: #fff !important;
}
.koha-darkmode ul.biglinks-list li a.icon_general, .koha-darkmode .buttons-list li a {
	background-color: #2c502c !important;
}